.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
!NZ-CDI-2012.pdf
!NZCDIWS_percentiles.pdf
acknowledgements.Rmd
!PDFs/*.*
*.html
!acknowledgements.html
KidsWords_cdi_replies_011216.csv
Kidswords_sci_replies_011216.csv
KidsWords_user_children_20161201.csv
*LTT*
KidsWords Access Tables/
*_unused_testcode.R
!analysis/data/boynames.csv
!analysis/data/girlnames.csv
qry*
00_kidswords_dataprep.R
KidsWords_plots*.Rmd